@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Josefin Sans", Helvetica;
}
.hero::before {
  background: linear-gradient(400deg, #088cc0,#caf1eb, #7ecfc3);
  content: "";
  width: 100%;
  height: 280px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 120% 120%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}



